.header {
 
  padding: 18px 40px;
  background: #0f172a;
  border-bottom: 1px solid #1e293b;

}
.container{

   display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* blue accent */
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #e5e7eb;
  font-size: 14px;
  transition: 0.3s;
  margin-right: 20px;
}

.nav a:hover {
  color: #3b82f6;
}

/* Orange CTA button */
.btn {
  background: #f97316;
  padding: 8px 16px;
  border-radius: 6px;
  color: white !important;
  transition: 0.3s;
  border: 1px #f97316 solid;
}

.btn:hover {
  background: #ea580c;
}